body{
 background-color: rgba(4, 102, 4, 0.926);
 font-family: sans-serif;
 color: white;
 font-size: 20px;
 text-align: center;
}

h1{
    color: goldenrod;
    font-size: 50px;
}

#message-el{
    font-style: italic;
}

.button-el,.button1-el{
    font-weight: 900;
    height: 30px;
    width: 150px;
    background-color: goldenrod;
    border-color: goldenrod;
}